# =========================
# sbt / Build
# =========================
target/
project/target/
project/project/

# =========================
# Metals / Bloop / BSP
# =========================
.bloop/
.metals/
.bsp/
.scala-build/

# =========================
# IDE / Editor
# =========================
.idea/
*.iml
.vscode/

# =========================
# Scala / JVM
# =========================
*.class
*.tasty
**/*.tasty
*.log

# =========================
# OS / Temp
# =========================
.DS_Store
*~
*.swp
*.bak

# =========================
# saveGames
# =========================
saves/
